# UML-on-arm64 defconfig
CONFIG_UML=y
CONFIG_64BIT=y
CONFIG_MMU=y
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_TTY=y
CONFIG_PRINTK=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_BLOCK=y
# CONFIG_SUSPEND is not set
CONFIG_ARM64_4K_PAGES=y
# CONFIG_ARM64_VA_BITS_52 is not set
CONFIG_ARM64_VA_BITS_48=y
CONFIG_ARM64_PA_BITS_48=y
# CONFIG_ARM64_LPA2 is not set
